.sidebar {
    background: #F2F3F5;
    border-radius: 16px;
    width: 288px;
    padding: 24px 32px;
    height: fit-content;
    position: relative;
}
.sidebarHeader {
    display: flex;
    align-items: center;
}
.sidebarHeader span {
    color: #009EF7;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.sidebarList {
    padding: 0;
    margin-top: 33PX;
}
.sidebarItem {
    margin-bottom: 11px;
    list-style: none;
    position: relative;
    padding-right: 30px;
}
.sidebarItem:before {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    background: url("../../images/arrow-left.svg");
    width: 20px;
    height: 20px;
}

.sidebarLink {
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.8px;
}

.sideBarFooter {
    display: flex;
    align-items: center;
    margin-top: 110px;
    justify-content: space-between;
}
.sideBarFooter h6 {
    color: #181C32;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}
.sideBarFooter span {
    color: #494949;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
}
.imgProfile{
    width: 56px;
    height: 56px;
}


.imgSetting {
    width: 20px;
}

@media (max-width: 767px) {
    .sidebar {
        position: fixed;
        right: -300px;
        top: 0;
        bottom: 0;
        border-radius: 0;
        z-index: 9999;
        transition: right 0.5s;
    }

    .openSideBar {
        right: 0;
    }
}

